.menu-link,.pull-up a,.btner a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;
}
.menu-small a{
    text-decoration: none;
    line-height: 30px;
}
.pull-up a:hover{
    color: #ffffff;
}
.btner{
    cursor: pointer;
}
.btner:hover{
    background-color: #211e3b;
    
}
.btner a:hover{
    color: #ffffff;
}
.laveria-list h4{
    color:#ffffff;
    font-size:16px;
    font-weight:700;
}
.text-boxer h4{
    font-size:17px;
    font-weight:700;
}
.packges-item h5{
    font-size: 18px;
    font-weight: 700;
    color: #404040;
    padding-bottom: 15px;
}
.text-service h2,.text-conten h2,.text-counter h2{
    font-size: 32px;
    line-height: 40px;
    padding: 10px 15px 15px;
    font-weight: 700;
}
.star{
    transform: translateY(-15px);
}