
#head{
    background-image: url(../../img/head2.jpg);
    height: 380px;
}
#bgr{
    background: rgba(0, 0, 0, 0.5);
    height: 380px;
}
#bgr h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    padding-top: 250px;
}
#container{
    display: flex;
    padding: 80px 160px 80px 160px;
    background-color: rgb(250, 250, 250);
}
#left{
    padding: 0 15px 0 15px;
    width: 760px;
    height: 1762px;
}
.media img{
    width: 80px;
    height: 80px;
}
#right{
    padding: 0 15px 0 15px;
    width: 760px;
    height: 1762px;
}
.img img{
    width: 730px;
    height: 486px;
}
#icon{
    display: flex;
}
#icon2{
    display: flex;
}
.blog-text{
    padding: 20px 30px 30px 30px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0 20px 0;
}
.headicon{
    margin-right: 20px;
}
.blog-text i{
    font-size: 15px;
    color: #fc5b62;
}
.media{
    margin-top: 20px;
}
#leave-cmt{
    padding-top: 50px;
}
label{
    margin: 20px 0;
}
#submitButton{
    margin-top: 50px;
    background-color: #fc5b62;
    color: rgb(255, 255, 255);
}
#submitButton:hover{
    border: 1px solid #211E3B!important;
    color: #fff;
}
#right{
    width: 380px;
    height: 1762px;
}
#search{
    background-color:#F1F8FF ;
    padding: 30px;
    padding-left: 25px;
    margin-bottom: 30px;
}
input{
    height: 55px;
    width: 250px;
    position: relative;
    padding: 15px;
}
#button-search{
    height: 55px;
    width: 55px;
    position: absolute;
    border-radius: 0;
}
ul{
    list-style-type: none;
    padding: 14px 0px 14px 0px;
}
li{
    display: flex;
    justify-content: space-between;
    padding: 14px 30px 14px 30px;
    border-bottom: 1px solid #ddd;
}
#categories li:hover {
    background-color: #fc5b62;
    color: #ffffff;
    cursor: pointer;
}
#categories{
    background-color: #F1F8FF;
    position: relative;
}
#categories h3::after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: 330px;
    background-color: #fc5b62;
    width: 56px;
    height: 3px;
}
#categories h3{
    padding: 30px 30px 0 30px;
}
#categories i{
    font-size: 15px;
}
.post-date{
    width: 1000px;
}
#recent-post{
    background-color: #F1F8FF;
    position: relative;
}
#recent-post h3::after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: 410px;
    background-color: #fc5b62;
    width: 56px;
    height: 3px;
}
#recent-post h3{
    margin: 30px 30px 12px 30px;
    padding-bottom: 8px;
    padding-top: 30px;
}
.post-date a{
    text-decoration: none !important;
    color: #000;
}
.post-date a:hover{
    color: #fc5b62;
}
#tags{
    width: 350px;
    height: 261px;
    background-color: #F1F8FF;
    padding: 0 30px 30px 30px;
    position: relative;
    margin-bottom: 30px;
}
#tags a {
    display: inline-block;
    padding: 2px 13px;
    margin-right: 10px;
    margin-bottom: 12px ;
    background-color:#fff;
    text-decoration: none !important;
    color: #000;
}
#tags a:hover {
    color: #fff;
    background-color: #fc5b62;
    border-color: #fc5b62;
}
#tags h3::after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: 190px;
    background-color: #fc5b62;
    width: 56px;
    height: 3px;
}
#tags h3{
    margin: 30px 30px 12px 1px;
    padding-bottom: 34px;
    padding-top: 20px;
}
#instagram{
    width: 350px;
    height: 312px;
    background-color: #F1F8FF;
    position: relative;
    padding: 0px 0 0 30px;
}
#instagram h3::after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: 260px;
    background-color: #fc5b62;
    width: 56px;
    height: 3px;
}
#instagram h3{
    padding: 10px 20px 10px 0px;

}
#instagram img{
    margin-bottom: 15px;
    width: 87px;
    height: 87px;
}
#instagram a{
    margin: 5px;
}

