
#head{

    background-image: url(../../img/head2.jpg);

    height: 380px;
}
#bgr{
    background: rgba(0, 0, 0, 0.5);
    height: 380px;
}
#bgr h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    padding-top: 250px;
}
#container{
    display: flex;
    padding: 80px 160px 80px 160px;
    background-color: rgb(250, 250, 250);
    width: 100%;
}
#left{
    padding: 0 15px 0 15px;
    width: 760px;
    height: 1762px;
    font-family: Arial, Helvetica, sans-serif;
}
.media img{
    width: 80px;
    height: 80px;
}
#right{
    padding: 0 15px 0 15px;
    width: 760px;
    height: 1762px;
}
.img img{
    width: 730px;
    height: 486px;
}
#icon{
    display: flex;
}
#icon2{
    display: flex;
}
.blog-text{
    padding: 20px 30px 30px 30px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0 20px 0;
}
.blog-text h3{
    font-size: 24px;
}
.headicon{
    margin-right: 20px;
}
.blog-text i{
    font-size: 15px;
    color: #fc5b62;
}
.media{
    margin-top: 20px;
}
#leave-cmt{
    padding-top: 50px;
}
label{
    margin: 20px 0;
}
#submitButton{
    margin-top: 100px;
    background-color: #fc5b62 !important;
    color: rgb(255, 255, 255);
}
#submitButton:hover{
    border: 1px solid #211E3B!important;
    color: #fff;
}
#right{
    width: 380px;
    height: 1762px;
    font-family: Arial, Helvetica, sans-serif;
}
#search{
    background-color:#F1F8FF ;
    padding: 30px;
    padding-left: 25px;
    margin-bottom: 30px;
}
input{
    height: 55px;
    width: 250px;
    position: relative;
    padding: 15px;
}
#button-search{
    height: 55px;
    width: 55px;
    position: absolute;
    border-radius: 0;
}
#instagram ul, #categories ul, #recent-post ul{
    list-style-type: none;
    padding: 14px 0px 14px 0px;
}

#categories li{
    display: flex;
    justify-content: space-between;
    padding: 14px 30px 14px 30px;
    border-bottom: 1px solid #ddd;
}
#categories li:hover {
    background-color: #fc5b62;
    color: #ffffff;
    cursor: pointer;
}
#categories{
    background-color: #F1F8FF;
    position: relative;
    font: 16px;
}
#categories h3::after {
    content: '';
    position: absolute;
    left: 30px;
    top: 80px;
    background-color: #fc5b62;
    width: 56px;
    height: 3px;
}
#categories h3{
    padding: 30px 30px 20px 30px;
}
#categories i{
    font-size: 15px;
}
.post-date{
    width: 1000px;
}
#recent-post{
    background-color: #F1F8FF;
    position: relative;
}
#recent-post li{
    display: flex;
    justify-content: space-between;
    padding: 14px 30px 14px 30px;
    border-bottom: 1px solid #ddd;
}
#recent-post h3::after {
    content: '';
    position: absolute;
    left: 30px;
    top: 80px;
    background-color: #fc5b62;
    width: 56px;
    height: 3px;
}
#recent-post h3{
    margin: 30px 30px 12px 30px;
    padding-bottom: 8px;
    padding-top: 30px;
}
#recent-post h6{
    font-weight: bold
}
.post-date a{
    text-decoration: none !important;
    color: #000;
}
.post-date a:hover{
    color: #fc5b62;
}
#tags{
    background-color: #F1F8FF;
    padding: 0 30px 30px 30px;
    position: relative;
    margin-bottom: 30px;
}
#tags a {
    display: inline-block;
    padding: 2px 13px;
    margin-right: 10px;
    margin-bottom: 12px ;
    background-color:#fff;
    text-decoration: none !important;
    color: #000;
}
#tags a:hover {
    color: #fff;
    background-color: #fc5b62;
    border-color: #fc5b62;
}
#tags h3::after {
    content: '';
    position: absolute;
    left: 30px;
    top: 70px;
    background-color: #fc5b62;
    width: 56px;
    height: 3px;
}
#tags h3{
    margin: 30px 30px 12px 1px;
    padding-bottom: 34px;
    padding-top: 20px;
}
#instagram{
    background-color: #F1F8FF;
    position: relative;
    padding: 0px 0 0 30px;
}
#instagram h3::after {
    content: '';
    position: absolute;
    left: 30px;
    top: 60px;
    background-color: #fc5b62;
    width: 56px;
    height: 3px;
}
#instagram h3{
    padding: 10px 20px 20px 0px;

}
#instagram img{
    margin-bottom: 15px;
    width: 87px;
    height: 87px;
}
#instagram a{
    margin: 5px;
}
@media (max-width: 990px) {
    #container{
        display:block;
        padding: 80px 80px 80px 80px;
        width: 100%;
    }
    #left{
        padding: 0 15px 30px 15px;
        width: 100%;
        height: 100%;
    }
    .img img{
        width: 100%;
        height: 100%;
    }
    #right{
        padding: 0 60px 0 60px;
        width: 100%;
        height: 100%;
    }

}
.header-bgr{
    max-width: 1476px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: 0.5s;
}
.header-content{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
}
.header-container img{
    width: 140px;
    height: 57px;
}

.header-auth {
    display: flex;
    align-items: center;
    gap: 0 30px;
    text-transform: capitalize;
}
.header-signin {
    font-weight: 500;
    margin-right: 10px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-right: 15px;
}
.menu-link {
    display: inline-block;
}
.menu-item{
    position: relative;
}
.menu-item:hover .menu-small{
    display: block;
}
.menu-small{
    position: absolute;
    background-color: #ffffff;
    left: 0;
    top: 25px;
    display: none;
    width: 180px;
    border-radius: 5px;
}
.menu-small li{
    /* margin-left: 25px; */
    transform: translateY(-50%);
    text-align: left;
    line-height: 22px;
}
.menu-small a{
    color: #9b9797;
}
.menu-small a:hover{
    color: #fc5c65;
}

.menu-toggle {
    display: none;
    /* width: 30px;
    height: 20px; */
}
.menu-toggle *{
    pointer-events: none;
}
.menu-link:hover {
    position: relative;
    color: #fc5c65;
    transition: all 0.2s linear;
}
.menu:after:hover {
    content: "";
    position: absolute;
    bottom: -10px;
    left: auto;
    right: 0;
    width: 0;
    height: 3px;

    transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.menu:after {
    width: 100%;
    left: 0;
    right: auto;
}
.title-center{
    margin: 0px auto 0;
}
.title-center p{
    text-align: center;
    color: #ffffff;
    line-height: 28px;
    font-size: 15px;
}
.title-center h1{
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
    padding-top: 250px;
}

@media screen and (max-width: 767px) {
    .menu {
        position: fixed;
        right: -15px;
        top: 0;
        bottom: 0;
        background-color: #211e3b;
        width: 300px;
        z-index: 99;
        flex-direction: column;
        gap: 10px 0;
        padding-top: 60px;
        align-items: stretch;
        transform: translateX(100%);
        transition: all 0.2s linear;
    }
    .menu-link {
        display: block;
        width: 100%;
        padding: 20px;
    }
    .menu-toggle {
        display: block;
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
        height: 30px;
        width: 30px;
        z-index: 100000;
        position: fixed;
        top: 30px;
        right: 20px;
    }
    .menu-item--auth {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 20px;
    }
    .is-show{
        transform: translateX(0);
    }
} 
@media screen and (max-width: 1023px) {
    .header {
        padding: 25px 0 50px;
    }
    .header-auth {
        display: none;
    }
    .menu-item:hover  .menu-small{
        display: none;
    }
}
.menu-link,.pull-up a,.btner a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;
}
.menu-small a{
    text-decoration: none;
    line-height: 30px;
}
.pull-up a:hover{
    color: #ffffff;
}
.btner{
    cursor: pointer;
}
.btner:hover{
    background-color: #211e3b;
    
}
.btner a:hover{
    color: #ffffff;
}
.laveria-list h4{
    color:#ffffff;
    font-size:16px;
    font-weight:700;
}
.text-boxer h4{
    font-size:17px;
    font-weight:700;
}
.packges-item h5{
    font-size: 18px;
    font-weight: 700;
    color: #404040;
    padding-bottom: 15px;
}
.text-service h2,.text-conten h2,.text-counter h2{
    font-size: 32px;
    line-height: 40px;
    padding: 10px 15px 15px;
    font-weight: 700;
}
.star{
    transform: translateY(-15px);
}
.menu-toggle *{
    pointer-events: none;
}
.header-container a{
    text-decoration: none !important;
    color: rgb(255, 254, 254);
}
.menu-small a{
    color: #000 !important;
}
.menu-small li{
    list-style: none;
}
